#!/usr/bin/env bash

read_args () {
  while test $# -gt 0; do
    case "$1" in
      --bar*)
        bar="${2:-"default"}"
        shift
        ;;
      *)
        shift
        ;;
    esac
  done
}
